<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="">
        <form action="">
            <center>
                <div class="form">

                    <div class="">
                        <table>
                            <tr>
                                <td>Name: <input type="text" name="user1"></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td>last Name: <input type="text" name="user2"></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td> Age: <input type="number" name="age"></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td>Race: <input type="text" name="race"></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td> main-address: <input type="text" name="address"></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td><button>upload images</button></td>
                                <td><button>Record voices</button></td>
                            </tr>
                        </table>
                    </div>
                    {{!-- my table --}}


                    <center><input type="submit"></center>
                </div>
        </form>
    </div>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>

</body>

</html>