<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page3.css">
    <link rel="stylesheet" href="simple-grids.html">
    <link rel="stylesheet" href="simple-grid.css">

</head>

<body>
    <div class="container">


        <div class="heading">
            <center>
                <h1>Pizza Pozi</h1>
            </center>
            <center>
                <h3>welcome to the home of tasty Pizza's!</h3>
            </center>
            <div class="minimenue" style="color: rgb(53, 220, 20);">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
            <section class="sideBar">
                <ul class="menue">
                    <li class="menue-items">
                        <a href="#" data-content="login" class="menue-link">login</a>
                    </li>
                    <li class="menue-items">
                        <a href="#" class="menue-link" data-content="covid19">News</a>
                    </li>
                    <li class="menue-items" data-content="vouchers">
                        <a href="#" class="menue-link">vouchers</a>
                    </li>
                </ul>
                <div class="socials">
                    <a href="#"> <i class="fab fa-facebook"></i></a>
                    <a href="#"> <i class="fab fa-instagram"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i></a>

                </div>

            </section>
        </div>
        <center>
            <div class="pizzaCart hidden2">
                <h2>SHOPPING-CART</h2>

                <div class="Small">
                    <table>
                        <tr>
                            <td class="Small">Small</td>
                            <td><button type="button" class="addBtn">+</button></td>
                            <td><span class="sqPiza"></span></td>
                            <td> <button type="button" class="minusBtn">-</button></td>
                            <td>Due: <span class=" spza"></span></td>
                        </tr>
                        <tr>
                            <td class="Medium">Med</td>
                            <td> <button type="button" class="faka1">+</button></td>
                            <td><span class="mqPiza"></span></td>
                            <td> <button type="button" class="kipa1">-</button></td>
                            <td>Due: <span class=" mpza"></span></td>
                        </tr>
                        <tr>
                            <td class="Large">Large</td>
                            <td><button type="button" class="faka2">+</button></td>
                            <td><span class="lqPiza"></span></td>
                            <td><button type="button" class="kipa2">-</button></td>
                            <td>Due: <span class=" lpza"></span></td>

                        </tr>

                    </table>
                    <div>
                        <table class="totalbill">
                            <tr>
                                <td>Amount Due:R</td>
                                <td><span class="due">0.00</span></td>
                            </tr>
                        </table>
                    </div>

                    <div class="message hidden">
                        <table>
                            <tr>
                                <td>TRANSACTION FAILED DUE TO INSUFFICIENT FUNDS</td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <table>
                            <tr>
                                <td><input type="text" class="insertAmnt hidden"></td>
                                <td>
                                    <div class="hidden payDiv"><button type="button" class="payButton">pay</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkoutDiv"><button type="button" class="Mbutton">CHECKOUT</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkoutDiv2 hidden"><button type="button"
                                            class="Mbutton2">CHECKOUT</button></div>
                                </td>
                            </tr>
                        </table>
                    </div>



                    <!-- <div class="totalbill"> </div>

                <div class="message hidden"> </div> -->

                    <div>www.pizzapozi.com</div>


                </div>
        </center>



        <div class="contact">
            <h2>CONTACTS</h2>

            <div>CPT: 012 555 7678</div>
            <div>DBN: 031 555 7678</div>
            <div>JHB: 011 555 7678</div>
            for more info visit us at:
            <div>www.pizzapozi.com</div>
            <img src="insagram.jpg" width="40px" height="40px" class="left" style="flex: 1;">
            <img src="facebook.jpg" width="40px" height="40px" class="right" style="flex: 1;">

        </div>

    </div>

    </center>


    </div>
</body>
<script src="pizza-cart.js"></script>

</html>