<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="locate.css">
  <title>Document</title>
</head>
<body>
<div class="topnav">
  <a class="active" href="/play">Home</a>
  <a href="/missing">News</a>
  <a href="/contus">Contact Us</a>
  <a href="#about">About</a>
</div>

<div class="form">
  <div class="form">
    <p>n publishing and graphic design, Lorem ipsum is
      a placeholder text commonly used to
      demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be
      used as a placeholder before final copy is available. It is also used to temporarily replace text in a process
      called greeking, which allows designers to consider the form of a webpage or publication, ...</p>
    <button onclick="getLocation()">track/locate</button>
    </ul>
  </div>


  <script src="/index.js"></script>
  </body>

</html>