<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="con">
<div class="welcome"><h1>welcome to sure secure security app</h1></div>
    <form action="/membz" method="post">
        <center><label for="">location</label></center>
        <br>

        
<center>
    <div class="form">
        
       <button class="search">Search location</button>
        
     
    </div>
     
</center>
<div><center><input type="submit" class="search"></center></di
    </form>
    </div>
    
</body>

</html>