<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <link rel="stylesheet" href="upload.css">
</head>
<body>
    <div class="topnav">
  <a class="active" href="/play">Home</a>
  <a href="/missing">News</a>
  <a href="/contus">Contact Us</a>
  <a href="#about">About</a>
</div>

 <div class="form">   
<form action="/upload" class="form" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit">
    </form> 
    <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Address" required name="Email"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Ethnicity" required name="Name"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Gender" required name="Gender"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Last Seen" required name="Subject"></p>
            <p><input class="w3-input w3-padding-16" type="number" placeholder="Age" required name="Message"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Description" required name="Message"></p>
            <p>
                <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND
                </button>
            </p>
        </form>
    </div>

   
</body>
</html>