<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <center>
        <div class="home"> HOME</div>
    </center>
    <div class="con">
        <div class="button">
            <div id="button1">
                <a href="suresecure1.html">
                    SURE SECURE SECURITY
                </a>
            </div>
            <div id="button2">
                <a href="suresecure-grid.html">
                    EMERGENCY REPORT
                </a>
            </div>
            <div id="button3">
                <a href="safesecure.html">

                </a>
            </div>
        </div>
    </div>

    
</body>

</html>