/* body{

background-color: #2e294e;
} */

/* upload page cssstart */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* upload page css */

.newMembers {
    background-color: rgba(180, 206, 36, 0.918);
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 320px;
    display: inline-block;
    z-index: 1;

    position: relative;
    
    

    /* text-align: center;
    position: relative;  
    top: 50%;
    transform: translateY(-50%); */
}

/* buttons---- */
.search {
border-radius: 1em;
}


.welcome {
    /* position: fixed; */
    margin-left: 30%;
    margin-right: 30%;
    color: #ffd400;
}

.con {
    position: relative;
    /* background-image: url("background.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
  
body {
    font-family: Handlee;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: overlay;
    
}



.con::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(211, 211, 211, 0.4);
}

.button {
    text-align: center;
    position: relative;  
    top: 50%;
    transform: translateY(-50%);

}

#button1 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.7);
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 320px;
    display: inline-block;
    z-index: 1;
}

#button2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: rgba(211, 211, 211, 0.7);
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 320px;
    display: inline-block;
    z-index: 1;
}

#button1:hover { border: 1px solid #000000;}
#button2:hover { border: 1px solid #000000;}
#button1:active { background-color: rgba(149, 165, 166, 0.7);}
#button2:active { background-color: rgba(149, 165, 166, 0.7);}


a { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none; color: black; }

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(149, 165, 166, 0.7);   
  border-radius: 25px;   
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(211, 211, 211, 0.9);
  border: 1px solid black; 
}


/* login page CSS */
header .header{
    background-color: rgb(48, 70, 194);
    height: 45px;
  }
  header a img{
    width: 134px;
  margin-top: 4px;
  }
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -31px;
  margin-bottom: 26px;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #2e294e;
    background-image: linear-gradient(45deg,#2e294e,#44bba4);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #2e294e;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  
  body {
    background-color: #2e294e;
    background-image: linear-gradient(45deg,#2e294e,#44bba4);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
    outline: none;
  }
  :root {
    --bg-color: #f5f8ff;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --button-color: #49beb7;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
  }